@charset "UTF-8";

/* Estilos para Tela */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font: 1em;
    background-color: lightgray;
}

header {
    background-image: linear-gradient(to bottom, rgb(163, 163, 163), rgb(71, 71, 71));
    
    h1 {
        padding: 20px;
        text-align: center;
        font-weight: bold;
        font-variant: small-caps;
        font-size: 3em;
        color: white;
    }

    a {
        text-decoration: none;
    }

    ul {
        
    }

    li {
        border-radius: 10px 10px 0px 0px;
        display: inline-block;
        padding: 10px;
        background-color: rgb(71, 71, 71);
        color: white;
    }

    li:hover {
        background-color: rgb(46, 46, 46);
    }

}

main {

    padding: 0px 20px;

        article {
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.411);
            background-color: white;
            width: 600px;
            display: block;
            margin: auto;
            border-radius: 0px 0px 10px 10px;
        }

        p {
            text-align: justify;
            max-width: 88vw;
            padding: 15px 20px;
        }
    }

   footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
