@charset ("UTF-8");

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    height: 200px;
    padding-top: 20px;
    color: white;
    background-color: black;

    h1 {
        font-family: "Passion One", sans-serif;
        font-weight: bold;
        margin-bottom: -5px;
        font-size: 4em;
        text-align: center;
    }

    h2 {
        color: white;
        font-size: 0.9em;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;

        a:hover {
        text-decoration: underline;
    }
    }

    a {
        color: white;
    text-decoration: none;
    font-weight: bold;
    }
}


/* MAIN */

.divPai {
 background-color: white;
}

.paragrafo {
    font-size: 3em;
    font-family: "Sriracha", cursive;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#joaninha {
    
    background-color: gray;
    background-image: url("imagens/background001.jpg");
}

#joaninha2 {
    width: 100vh;
    height: auto;
    background-color: rgba(0, 0, 0, 0.534);
}

#imagem {
    background-image: url('imagens/background001.jpg');
}







/* FOOTER */

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    background-color: black;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}