@charset "UTF-8";


@font-face {
    font-family: 'Android';
    src: url('idroid.otf') format('Opentype');
    font-weight: normal;
    font-style: normal;
} 

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    margin: auto;
    padding: auto;
}

header{
    border: 1px solid transparent;
    background: linear-gradient(to bottom, rgb(13, 224, 108), rgb(5, 71, 35));
    height: auto;
    width: auto;
    padding: 15px;
    font-size: auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.534);
}

header > h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
    margin: 25px;
    font-size: 4em;
}

header > p{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
    margin: 25px;
}
a{
    padding: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    outline: 3px 3px solid black;
    color: rgb(4, 56, 4);
    background-color: rgba(179, 252, 179, 0.288);
    border-radius: 5px;
}

main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 0px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
    background-color: white;
    border-radius: 0px 0px 5px 5px;

}

main img{
    width: 100%;
}

section > article{
    padding: 10px;
    margin: auto;
    height: auto;
    width: 800px;
    background-color: white;
    border: 0px;
    border-radius: 0px 0px 5px 5px;
}

h1{
    font-family: 'Android';
    font-size: 25px;
    font-weight: normal;
    color: rgb(0, 90, 0);
}

p{
    text-indent: 30px;
    text-align: justify;
}

h2{
    font-family: 'Android';
    font-size: 20px;
    font-weight: normal;
    color: rgb(0, 90, 0);
    background: linear-gradient(to right, rgba(0, 128, 0, 0.555), rgba(0, 128, 0, 0));
    padding: 2px 10px;
}

a{
    color: rgb(1, 90, 1);
    font-weight: bold;
    text-decoration: none;
}

picture{
     display: block;
     margin-left: auto;
     margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#youtube{
    padding: 20px;
    background-color: rgb(0, 54, 0);
    text-align: center;
}

article{
    background-color: white;

}

section{
    padding: 10px
}

h3{
    background-color: green;
    padding: 8px;
    color: white;
    margin: auto;
    height: auto;
    width: 800px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.397);
}

.artigofinal{
    background-color: rgba(0, 128, 0, 0.24);
    padding: 10px;
    height: auto;
    width: 795px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);

}

#div1{
    float: left;
    height: auto;
    width: 350px;
}

#div2{
    float: left;
    height: auto;
    width: 350px;
}

footer > p{
    padding: 4px;
    background-color: rgb(0, 49, 0);
    color: white;
    border: auto;
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}