@charset "UTF-8";

body {
    background-image: url(../imagens/back-pc.jpg);
}

.phone { display: none; }
.tablet { display: none; }
.print { display: none; }
.pc { display: block; }
.tv { display: none; }